.sidebar {
  width: 220px;
  background-color: #1e1e2f;
  color: white;
  height: 100vh;
  padding: 20px;
  float: left;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar li.active {
  background-color: #4caf50;
}

.sidebar li.disabled {
  opacity: 0.6;
  cursor: default;
}

.content {
  margin-left: 240px;
  padding: 20px;
}
.charts {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  height: 300px; /* indispensable pour voir le graphique */
}
