server:
  port: 8084

spring:
  application:
    name: admin-service

  data:
    mongodb:
      uri: mongodb://localhost:27017/admin-db

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        enabled: true
        register: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
